[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u taskerplus.py run -l -m -t -s
WorkingDirectory=/home/pi/taskerplus
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
